
  .bkk{
  background: #DFE0DF;
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  }


  .card {
  position: relative;
  display:inline-block;
  max-width: 100%;
  width: 250px;
  min-width: 40%;
  min-height: 300px;
  background-color: #FEF9F0;
  border-radius: 0.25rem;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  user-select: none;
  transition: 0.25s;
  
  }
  .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 10px -10px rgba(#7f8c8d, 1);
  }
  .cardTitle{
  position: absolute;
  width: 100%;
  height: 15%;
  top: 0% auto;
  border-bottom: 0.25em solid #DFE0DF;
  overflow:  hidden;
  }

  .cardBody{
    position: absolute;
    max-width: 100%;
    max-height: 60%;
    min-width: 100%;
    min-height: 70%;
    top: 15%;
    border-bottom: 0.25em solid #DFE0DF;
    overflow:  scroll;
    margin-left: auto;
    margin-right: auto;

    }

    .cardFotter{
      position: absolute;
      top: 88%;
      max-width: 100%;
      height: 30%;
      min-width: 100%;
      height: 20%;

      }

    ::-webkit-scrollbar {
      display: none;
    }

  .cardText{
    font: italic small-caps bold 15px/2 cursive;    
    color: #A48E65;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

  }

.messageButton{

  padding: 1%;
  width: 20%;
  background-color: #474554;
  text-align: center;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  color: #DFE0DF;
  font-size: 17px;
  font:  small-caps bold cursive;    

  
}

.messageButton:hover {
  background-color: #719ECE;
}

textarea { height: auto; }


.slideContiner{
  margin: 5px auto;
  position: absolute;
  right: 0%;
  width: 100%;
  height: 100%;
  opacity: 0.8; 
}
.btnSlideLeft{
   margin-left: 5%;
   right: 90%;
}

.btnSlideRight{
  margin-right: 5%;
  left: 90%;
}

.btnSlideLeftMid{
 position: absolute;
  z-index: 8;
  top: 35%;
  margin-right: 5%;
  left: 95%;
}

.btnSlideRightMid{
  position: absolute;
  z-index: 8;
  top: 35%;
  margin-right: 5%;
  right: 90%;
}

.textContiner{
  left: 40%;
  top: 20%;
  z-index: 9;
  
}



  /* #A48E65 */

