
  .bkk{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  }


  .card {
  position: relative;
  display:inline-block;
  max-width: 100%;
  width: 250px;
  min-width: 40%;
  min-height: 300px;
  background-color: #DFE0DF;
  border-radius: 3%;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  user-select: none;
  transition: 0.25s;
  
  }
  .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 10px -10px rgba(#7f8c8d, 1);
  }
  .cardTitle{
  position: absolute;
  width: 100%;
  height: 15%;
  top: 0% auto;
  border-bottom: 0.25em solid #F9F9F9;
  overflow:  hidden;
  }

  .cardBody{
    position: absolute;
    max-width: 100%;
    max-height: 60%;
    min-width: 100%;
    min-height: 70%;
    top: 15%;
    border-bottom: 0.25em solid #F9F9F9;
    overflow:  scroll;
    margin-left: auto;
    margin-right: auto;

    }

    .cardFotter{
      position: absolute;
      top: 88%;
      max-width: 100%;
      height: 30%;
      min-width: 100%;
      height: 20%;


      }

    ::-webkit-scrollbar {
      display: none;
    }

  .cardText{
    font: italic small-caps bold 15px/2 cursive;    
    color: #474554;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

  }

.messageButton{

  padding: 1%;
  width: 20%;
  background-color: #2193B0;
  text-align: center;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  color: #E6F4F1;
  font-size: 17px;
  font:  small-caps bold bold;    
   border-radius: 5%;
  
}

.messageButton:hover {
  background-color: #474554;
}

textarea {   
  display: flex; 
  flex-direction:row;
  height : auto;
  width: 80%;
  align-items: center;
  text-align: center;
  margin: 3.5%;
  margin-left: 7.7%;
  border: #474554 0px solid;
  border-radius: 3%;
  padding: 2.5%;
  background-color: #ABABAB;
  color: #474554;


}
textarea:hover { outline: #719ECE 3px solid; }


.slideContiner{
  margin: 5px auto;
  position: absolute;
  right: 0%;
  width: 100%;
  height: 100%;
  opacity: 0.8; 
}


.btnSlideMid{
  border: none;
  background-color: Transparent;
  box-shadow: #474554 1px;
  font-size: larger;
  font:bolder;
  color: #474554;
}

.btnSlideLeftMid{
 position: absolute;
  z-index: 8;
  top: 35%;
  margin-right: 5%;
  left: 95%;
}

.btnSlideLeftMid:hover{

  border-bottom: #719ECE 2px solid;
  border-top: #719ECE 2px solid;
  border-left: #719ECE 2px solid;
  border-radius:  20px 0 0 0px ;

}

.btnSlideRightMid{
  position: absolute;
  z-index: 8;
  top: 35%;
  margin-right: 5%;
  right: 90%;
 
}

.btnSlideRightMid:hover{

  border-bottom:  #719ECE 2px solid;
  border-top: #719ECE 2px solid;
  border-right: #719ECE 2px solid;
/* top-left | top-right | bottom-right | bottom-left */
border-radius: 0 20px 0 0;
}



.textContiner{
  left: 40%;
  top: 20%;
  z-index: 9;
  
}
 
.btnchean{
display: inline-block;
margin-left: 1%;
margin-right: 1%;
}

.btncheanstyle{

color: #A48E65;

cursor: pointer;
overflow:  scroll;

}

 tr ,th, td{
  /* padding: 5px;
  border-bottom: #474554 1px solid; */

  }

 .open{
  display: block;
 }
 .close{
  display: none;
 }
  


 
.backButton{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  width: 8%;
  background-color: #2193B0;
  text-align: center;
  border: none;
  cursor: pointer;
  color: #DFE0DF;
  font-size: 16px;
  font:  small-caps bold bold;    
   border-radius: 5%;
   padding: 0.5%;
   text-align: center;  
}

.backButton:hover{ background-color: #474554;}
  /* #A48E65 */

